<div *ngIf="loadCompleted" class="container">
    <br />
    <h2 class="text-info mt-5">Welcome, {{user.firstName}}!</h2>
    <br />

    <div *ngIf="!editUser; else editUserBlock" class="mt-3">
        <h5 class="mb-3">Basic Information</h5>        
        <p>{{user.firstName}} {{user.lastName}}<br />
            {{user.email}}</p>
        <button type="button" (click)="editProfile()" class="btn btn-info">Edit User Profile</button>
    </div>

    <ng-template #editUserBlock>
        <app-edit-user-profile [user]="user" (onSubmit)="onEditClose($event)"></app-edit-user-profile>
    </ng-template>
    
    <div class="mt-5" *ngIf="!editDetails; else editDetailsBlock">
        <h5>My Home</h5>
        <div *ngIf="user.userDetails == null; else userDetailsBlock">Details about your home will appear here.</div>
        <ng-template #userDetailsBlock>
            <label>Year Built:</label>
            <p>{{user.userDetails.homeAge}}<br />
                <label>Construction:</label>{{user.userDetails.homeBuild}}</p>
            <p class="lead">Notes:</p>
            <p>{{user.userDetails.homeNotes}}</p>
        </ng-template>
        <button type="button" (click)="editHomeDetails()" class="btn btn-info">Edit Home</button>
    </div>

    <ng-template #editDetailsBlock>
        <app-edit-user-details [user]="user"></app-edit-user-details>
    </ng-template>

    <div class="mt-5">
        <h5>My Projects</h5>
        <div *ngIf="user.projects.length == 0">
            <p>Hey there! You do not have any projects yet.<br />
                Why not <a class="text-info" [routerLink]="'/project/create'">create</a> one?</p>
        </div>
        <div>
            <ul>
                <li class="lead" *ngFor="let project of user.projects">{{project.name}}</li>
            </ul>
        </div>
    </div>
</div>