<div *ngIf="loadCompleted" class="container">
    <br />
    <h2 class="text-info mt-5">Welcome, {{user.firstName}}!</h2>
    <br />

    <div class="mt-3">
        <h5 class="mb-3">Basic Information</h5>
        <p>{{user.firstName}} {{user.lastName}}<br />
            {{user.email}}</p>
    </div>

    <div class="mt-5">
        <h5>My Home</h5>
        <div *ngIf="user.userDetails == null">Details empty</div>
        <ng-template #elseBlock>
            <label>Year Built:</label><p>{{user.userDetails.homeAge}}<br />
                <label>Construction:</label>{{user.userDetails.homeBuild}}</p>
            <p class="lead">Notes:</p>
            <p>{{user.userDetails.homeNotes}}</p>
        </ng-template>


    </div>

    <div class="mt-5">
        <h5>My Projects</h5>
        <div *ngIf="user.projects.length == 0">
            <p>Hey there! You do not have any projects yet.<br />
                Why not <a class="text-info" [routerLink]="'/project/create'">create</a> one?</p>
        </div>
        <div>
            <ul>
                <li class="lead" *ngFor="let project of user.projects">{{project.name}}</li>
            </ul>
        </div>
    </div>

    <div class="mt-4 text-right">
        <p><a class="lead text-info" [routerLink]="'/user/profile/edit'">Edit Profile</a></p>
    </div>
</div>