<div *ngIf="loadCompleted" class="container">

    <div class="logo-spacer"></div>

    <div>
        <h2 class="text-info">Welcome, {{user.firstName}}!</h2>
    </div>
    
    <div *ngIf="!editUser; else editUserBlock" class="mt-5">
        <h4>Account Information</h4>  
        <p class="lead">{{user.firstName}} {{user.lastName}}<br />
        {{user.email}}</p>
        <span (click)="editProfile()" class="badge badge-info pointer" role="button">Edit Account Details</span>
    </div>

    <ng-template #editUserBlock>
        <app-edit-user-profile [user]="user" (onUserSubmit)="onEditUserClose($event)"></app-edit-user-profile>
    </ng-template>
    
    <div class="mt-5" *ngIf="!editDetails; else editDetailsBlock">
        <h4>My Home</h4>
        <p *ngIf="user.userDetails == null; else userDetailsBlock">You have not entered any details about your home yet. Click the edit button below to get started!</p>
        <ng-template #userDetailsBlock>
            <p class="lead">Year Built: {{user.userDetails.homeAge}}<br />
            Construction: {{user.userDetails.homeBuild}}</p>
            <p><span class="lead">Notes:</span><br /> 
            {{user.userDetails.homeNotes}}</p>
        </ng-template>
        <span (click)="editHomeDetails()" class="badge badge-info pointer" role="button">Edit Home Details</span>
    </div>

    <ng-template #editDetailsBlock>
        <app-edit-user-details [user]="user" (onUserSubmit)="onEditDetailsClose($event)"></app-edit-user-details>
    </ng-template>

    <div class="mt-5">
        <h4>My Projects</h4>
        <ng-container  *ngIf="user.projects">
            <p>Click on a project name to view estimate.</p>
            <div class="btn-group">
                <ng-container *ngFor="let project of user.projects">
                    <button class="btn btn-primary mt-2 btn-spacer">{{project.name}}</button> 
                </ng-container>        
            </div>
        </ng-container>

        <h5 class="text-info mt-3 mb-5">+ <a class="text-info" [routerLink]="'/project/create'">New Project</a></h5>
    </div>
</div>