<body class="QE-bkg">

<div class="container">

    <div class="logo-spacer"></div>

    <div class="container w-100 text-left">

        <div class="mt-4">
            <h2 class="text-info">How does Quick&bull;Est work?</h2>
        </div>

        <div class="mt-5">
            <p class="lead text-primary">1. Pick a room to renovate and create a project!</p>
            <p>Master Bathroom? Kitchen? Home Office?<br /> 
            East Wing Ballroom? <i>(What - you don't have one of those?)</i></p>
        </div>

        <div class="mt-5">
            <p class="lead text-primary">2. Give us a few details about how you will make your space amazing.</p>
            <p>Hardwood floors or carpet? Jacuzzi tub or walk-in shower?<br /> 
                Are you hiring a subcontractor or is it DIY?</p>
        </div>

        <div class="mt-5">
            <p class="lead text-primary">3. We'll run some calculations behind the scenes, and...</p>
        </div>

        <div class="mt-5">
            <p class="lead text-primary">4. You get an estimate!</p>
        </div>

    </div>
    <div class="container text-right">
        <div class="mt-5">
            <h4>Ready to get started?</h4>
            <h5><a [routerLink]="'/login'" class="text-info">LOG IN</a><small> or </small><a [routerLink]="'/register'" class="text-info">REGISTER</a></h5>
        </div>
    </div>
</div> 

</body>