<div class="container">

    <div class="mt-5">
        <h2 class="text-info">All Projects</h2>
    </div>

    <div *ngIf="! projects">
        <p class="lead">Hey there! You do not have any projects yet.<br />
            Why not <a class="text-info" [routerLink]="'/project/create'">create</a> one?</p>
    </div>
    <div class="row justify-content-between">
        <div>
            <div class="col-lg">
                <div>
                    <div *ngFor="let project of projects; let index = p">
                        <div class="btn" (click)="selectedProject = setSelectedProject(project)">
                            <h4 class="text"> 
                                <!-- FIXME: RIGHT NOW, this section of the template is not able to display 
                                    any data other than the basic project properties. Won't display project.estimate stuff -->
                                <u [class.text-info]="project === selectedProject">{{project.name}}</u>
                            </h4>
                        </div>
                        <br>
                    </div>
                </div>
                <br>
                <h4 class="text-info"> &nbsp; &nbsp; + <a class="text-info" [routerLink]="'/project/create'">New Project</a></h4>
            </div>
        </div>

        <!-- //FIXME: Right now nothing is binding to the page in this section. 
            Even fake data won't display, even when the ngIf runs and the html content displays -->
        <div class="col-4 align-middle">
            
            
                <div class="text-right" *ngIf="selectedProject !== null" >
                    <h4 class="text-info mt-4"> Appliances Cost: {{selectedProject.estimate.appliancesCost}}</h4>
                    <h4 class="text-info mt-4"> Fixtures Cost: {{selectedProject.estimate.fixturesCost}} </h4>
                    <h4 class="text-info mt-4"> Finishes Cost: {{selectedProject.estimate.finishesCost}} </h4>
                    <h4 class="text-info mt-4"> Materials Cost: {{selectedProject.estimate.materialsCost}} </h4>
                    <h4 class="text-info mt-4"> Labor Cost: {{selectedProject.estimate.laborCost}} </h4>
                    <h4 class="text-info mt-4"> TOTAL ESTIMATE: {{selectedProject.estimate.totalCost}} </h4>
                    <br>
                    <button class="btn btn-info" [routerLink]="'/project/add-details/' + selectedProject.id">Update My
                        Project</button>
                </div>
           
        </div>
    </div>
</div>




<!-- <div class="container">

    <router-outlet></router-outlet>

</div> -->