<div class="container" *ngIf="dataLoaded === true">

    <div class="logo-spacer"></div>
    
    <div class="container">
        <!--Nested container with divs side-by-side to move project name, type, and dimensions to top right-->
        <div class="row justify-content-between">
            <div class="col-6">
                <h2 class="text-info">Project Details</h2>
                <p>Tell us what you need to make your vision a reality! Don't worry if you aren't sure about some of the details; you can come back and edit your project at any time.</p>
            </div>

            <div class="col-6">

                <!--Name, type, and dimensions with edit button-->
                <div *ngIf="!editingProject" class="text-right">
                    <h4>{{project.name}} </h4>
                    <p class="lead">{{roomTitles[rooms.indexOf(project.roomType)]}}<br />
                    {{project.roomLength}}'L x {{project.roomWidth}}'W x {{project.roomHeight}}'H</p>
                    <span class = "badge badge-info pointer" (click) = "editingProject = true;" role="button">Edit</span>
                </div>

                <!--Visible only while editing name, type, and dimensions-->
                <div *ngIf="editingProject" class="w-100">
                    <h4>Edit Project</h4>
                    <div class="form-group">
                        <label class="lead w-75">Project Name <input required #name="ngModel" [(ngModel)]="project.name"
                                type="text" class="form-control form-control-sm w-100" /></label>
                        <br />
                        <span class="lead">Room Type: {{roomTitles[rooms.indexOf(project.roomType)]}} </span>
                        <div class = "form-group">
                            <div class="form-check indent-left" *ngFor="let room of rooms; let r = index">
                                <label class="form-check-label"><input #roomType required minlength="6" [(ngModel)]="project.roomType" (change)="changedRoom = true; saveUncheckedItems();" [value]="rooms[r]" type="radio" class = "form-check-input" />{{roomTitles[r]}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class = "input-group"> 
                            <label><input #roomLength="ngModel" [(ngModel)]="project.roomLength" type="number" class="form-control form-control-sm" required (change)="changedDimensions = changedDimensions + 1;" step="0.1" min='1' /> Length (ft.)</label>
                            <label><input #roomWidth="ngModel" [(ngModel)]="project.roomWidth" type="number" class="form-control form-control-sm" required (change)="changedDimensions = changedDimensions + 1;" step="0.1" min='1' /> Width (ft.)</label>
                            <label><input #roomHeight="ngModel" [(ngModel)]="project.roomHeight" type="number" class="form-control form-control-sm" required (change)="changedDimensions = changedDimensions + 1;" step="0.1" min='1' /> Ceiling Height (ft.)</label>
                        </div>
                        <div *ngIf="(project.roomHeight < 1 || project.roomLength < 1 || project.roomWidth < 1)"
                            class="alert alert-danger">
                            All room dimensions must be valid numbers greater than zero.
                        </div>
                    </div>
                    <span class="badge badge-success pointer" (click) = "editingProject = false; changedDimensions = 0; calcMeasurements(); buildSelectionArray();" role="button" >Done Editing</span>
                </div>

            </div>
        </div>
    </div>

    <!-- APPLIANCES, FIXTURES, & FINISHES -->
    <div class = "container mt-5" *ngIf="! editingProject">
        <!--iterate through appliance, fixture, and finish sections-->
        <ng-container *ngFor="let category of categories; let c = index">
            <!--do not show appliance section unless the room is kitchen-->
            <ng-container *ngIf="project.roomType === 'kitchen' || (project.roomType !== 'kitchen' && category !== 'appliance')">
                <div class="form-group" >
                    <h4 class="mt-4">{{categoryTitles[c]}}</h4>
                    <div class="input-group mt-1" *ngFor="let selection of selectionArray[c]; let i = index">
                        <ng-container *ngIf="category === selection.category">
                            <div class="col-4">
                                <label class="lead"><input #type="ngModel" [(ngModel)]="selectionArray[c][i].checked" (change)="changeChecked(i, c)" type="checkbox" /> {{selection.type}}</label>
                            </div>
                            <div class = "col-4">
                                <select #options="ngModel" [(ngModel)]="selectionArray[c][i].selected" class="form-control form-control-sm w-100" (change)="changeSelected(i, c)" [required]="selectionArray[c][i].checked">
                                    <option *ngFor="let option of getOptions(selection.type)" [ngValue]="option" [selected]="selectionArray[c][i].selected !== null && option.id === selectionArray[c][i].selected.id">{{option.name}}</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <ng-container *ngIf="calcByQuantity.includes(selection.type)">
                                    <input #quantity="ngModel" [(ngModel)]="selectionArray[c][i].quantity" type="number" step="1" min = '0' class="form-control form-control-sm w-75" (change)="changeQuantity(i, c)"/>
                                </ng-container>
                            </div> 
                            <div class="col-2">
                                <p class="lead text-right">${{selectionArray[c][i].costs[0]}}</p>
                            </div>
                        </ng-container>
                    </div>
                    <div class="mt-4">
                        <h4 class="text-right">{{categoryTitles[c]}}: ${{getCategorySubtotal(c)}}</h4>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <h4 class="mt-4">Materials</h4>
        <div class="form-group">
            <p class="lead">Will you be adding or replacing any of the following?</p>
            <label class = "checkbox"><input #plumbingSystem="ngModel" [(ngModel)]="project.materials.needPlumbingSystem" (change)="calcEstimate()" type="checkbox" /> Plumbing System</label>
            <label class = "checkbox"><input #electricalSystem="ngModel" [(ngModel)]="project.materials.needElectricalSystem"  (change)="calcEstimate()" type="checkbox" /> Electrical System</label>
            <label class = "checkbox"><input #framing="ngModel" [(ngModel)]="project.materials.needFraming"  (change)="calcEstimate()" type="checkbox" /> Wall Framing</label>
            <label class = "checkbox"><input #drywall="ngModel" [(ngModel)]="project.materials.needDrywall"  (change)="calcEstimate()" type="checkbox" /> Plaster/Drywall</label>
        </div>
        <div class="mt-4">
            <h4 class="text-right">Materials: ${{project.estimate.materialsCost}}</h4>
        </div>

        <h4 class="mt-4">Labor</h4>
        <div class="form-group">
            <p class="lead">Will you be hiring any subcontractors?</p>
            <label class = "checkbox"><input #plumbing="ngModel" [(ngModel)]="project.labor.needPlumbingSub"  (change)="calcEstimate()" type="checkbox" /> Plumbing</label>
            <label class = "checkbox"><input #electrical="ngModel" [(ngModel)]="project.labor.needElectricalSub"  (change)="calcEstimate()" type="checkbox" /> Electrical</label>
            <label class = "checkbox"><input #roughCarpentry="ngModel" [(ngModel)]="project.labor.needRoughCarpentry"  (change)="calcEstimate()" type="checkbox" /> Rough Carpentry</label>
            <label class = "checkbox"><input #finishWork="ngModel" [(ngModel)]="project.labor.needFinishWork"  (change)="calcEstimate()" type="checkbox" /> Finish Work</label>
        </div>
        <div class="mt-4">
            <h4 class="text-right">Labor: ${{project.estimate.laborCost}}</h4>
        </div>

        <div class="mt-5">
            <h3 class="text-right text-info">Total Estimate: ${{project.estimate.totalCost}}</h3>
        </div>

        <div class="form-group mt-5 mb-5 text-right">
            <button (click)='saveProject()' class="btn btn-info">Save Estimate</button>
        </div>

    </div>
        
</div>