<div class="container">
    <!--Nested container with divs side-by-side to move project name, type, and dimensions to top right-->
    <div class="container mt-5">
        <div class="row justify-content-between">
            <div class="col-6">
                <h2 class="text-info">Project Details</h2>
                <p>Tell us all about what you're planning to do! Don't worry if you aren't sure about some of the details; you can come back and edit your project at any time.</p>
            </div>
            <div class="col-6">
                
                <!--Name, type, and dimensions with edit button-->
                <div *ngIf="!editingProject; else editProjectBlock" class="text-right">
                    <h5>{{project.name}} </h5>
                    <p class="lead">{{project.roomType}}<br />
                    {{project.roomLength}}'L x {{project.roomWidth}}'W x {{project.roomHeight}}'H</p>
                    <span class = "badge badge-info" (click) = "editingProject = true;">Edit</span>
                </div>
                <!--Visible only while editing name, type, and dimensions-->
                <ng-template #editProjectBlock>
                    <div class="form-group">
                        <label class="lead">Project Name <input #name (change)="updateProjectName(name.value)"
                                type="text" value="{{project.name}}" class="form-control-sm" /></label>
                        <br />
                        <span class="lead">Room Type </span>
                        <div class = "form-group">
                            <div class="form-check indent-left">
                                <label class="form-check-label"><input #roomType name="roomType" type="radio" class = "form-check-input" value="kitchen" [checked]="project.roomType == 'kitchen'" (change)="updateProjectRoomType($event)"/>Kitchen</label>
                            </div>
                            <div class="form-check indent-left">
                                <label class="form-check-label"><input #roomType name="roomType" type="radio" class = "form-check-input" value="bathroom" [checked]="project.roomType == 'bathroom'" (change)="updateProjectRoomType($event)"/>Bathroom</label>
                            </div>
                            <div class="form-check indent-left">
                                <label class="form-check-label"><input #roomType name="roomType" type="radio" class = "form-check-input" value="living" [checked]="project.roomType == 'living'" (change)="updateProjectRoomType($event)"/>Bedroom, Living Room, Office, Etc.</label>
                            </div> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class = "input-group"> 
                            <label><input #roomLength type="number" class="form-control-sm" step="0.1" min = 0 placeholder="0.0" (change)="updateProjectRoomLength(roomLength.value)" value="{{project.roomLength}}" /> Length (ft.)</label>
                            <label><input #roomWidth type="number" class="form-control-sm" step="0.1" min = 0 placeholder="0.0" (change)="updateProjectRoomWidth(roomWidth.value)" value="{{project.roomWidth}}" /> Width (ft.)</label>
                            <label><input #roomHeight type="number" class="form-control-sm" step="0.1" min = 0 placeholder="0.0" (change)="updateProjectRoomHeight(roomHeight.value)" value="{{project.roomHeight}}" /> Ceiling Height (ft.)</label>
                        </div>
                    </div>
                    <span class="badge badge-success"(click) = "editingProject = false;" >Save Changes</span>
                </ng-template>

            </div>
        </div>
    </div>

    <br />
    <div class = "container col-12">
        <div class="form-group">
            <h5>Fixtures</h5>
            <div>
                <ul *ngFor="let item of itemsArray">
                    <li class="input-group" *ngIf="item.category == 'fixture' && item.room.includes(project.roomType)">
                        <label>{{item.name}}
                        <input #quantity (change)="saveItemDetails(quantity.value, item)" type="number"
                                value="{{getQuantity(item)}}" class="form-control" />
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <div class="form-group">
            <h5>Appliances</h5>
            <div>
                <ul *ngFor="let item of itemsArray">
                    <li class="input-group" *ngIf="item.category == 'appliance' && item.room.includes(project.roomType)">
                        <label>{{item.name}}
                            <input #quantity (change)="saveItemDetails(quantity.value, item)" type="number"
                                value="{{getQuantity(item)}}" class="form-control" />
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <div class="form-group">
            <h5>Finishes</h5>
            <div>
                <ul *ngFor="let item of itemsArray">
                    <li class="input-group" *ngIf="item.category == 'finish' && item.room.includes(project.roomType)">
                        <label>{{item.name}}<br>{{item.description}}<input class="form-control" #quantity
                                (change)="saveItemDetails(quantity.value, item)" type="number"
                                value="{{getQuantity(item)}}" />
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <div class="form-group text-right">
            <button (click)='saveProjectDetails()' class="btn btn-info" [routerLink]="'/project/list'">Get Estimate</button>
        </div>
    </div>

</div>