.QE-bkg {
    position: fixed;
    background-size: 90vh;
    background-color: white;
    background-image: url('/assets/QE_bkg_outline.png');
    background-repeat: no-repeat;
    background-position: top left;
}