<div class = "container">
    <br />
    <h2 class="text-info mt-5">Create a New Project</h2>
    <!-- <form> -->
    <!-- <form [formGroup]="createProjectForm">   -->
        <br />
        <div class = "form-group">
            <h5>What would you like to call your project?</h5>
            <input #name type='text' placeholder="Project Name" class="form-control"/>
        </div>
        <br />
        <div class = "form-group">
            <h5>Select your room type:</h5>
            <div class="form-check indent-left">
                <label class="form-check-label"><input #roomType name="roomType" type="radio" class = "form-check-input" value="kitchen" />Kitchen</label>
            </div>
            <div class="form-check indent-left">
                <label class="form-check-label"><input #roomType name="roomType" type="radio" class = "form-check-input" value="bathroom" />Bathroom</label>
            </div>
            <div class="form-check indent-left">
                <label class="form-check-label"><input #roomType name="roomType" type="radio" class = "form-check-input" value="living" />Bedroom, Living Room, Office, Etc.</label>
            </div> 
        </div>
        <br />
        <div class="form-group">
            <h5>What are the room's general dimensions?</h5>
            <div class = "input-group"> 
                <label><input #roomLength type="number" class="form-control" step="0.1" min = 0 placeholder="0.0" />Length (ft.)</label>
                <label><input #roomWidth type="number" class="form-control" step="0.1" min = 0 placeholder="0.0" />Width (ft.)</label>
                <label><input #roomHeight type="number" class="form-control" step="0.1" min = 0 placeholder="0.0" />Ceiling Height (ft.)</label>
            </div>
        </div>
        <br />
        <div class="form-group">
            <button (click)='saveProject(name.value, roomType.value, roomLength.value, roomWidth.value, roomHeight.value)' class="btn btn-info">Create Project</button>
        </div>
    <!-- </form> -->
</div>    