<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand" href="#\">NAME/LOGO</a>

    <!-- This is the button that appears responsively when the width narrows, but it's not showing the 
        dropdown menu and I don't know why yet-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" role="navigation" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "'/create-project'">CREATE NEW PROJECT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "'/project-list'">ALL PROJECTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PROFILE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LOG OUT</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>