<div class="mt-5">
    <h4 class="mb-4">Edit Account Information</h4>  

    <form name="form" (ngSubmit)="f.form.valid && updateUser()" #f="ngForm" validate>

        <p>Change Name or E-mail Address</p>
        <div class="row form-group justify-content-left">
            <div class="col-4">
                <input #firstName="ngModel" name="firstName" [(ngModel)]="user.firstName" required minlength="2" type='text' class="form-control form-control-sm w-100" />
                <div *ngIf="firstName.dirty && firstName.touched && firstName.invalid" class="alert alert-danger">
                    First name must be at least 2 characters.
                </div>
            </div>
            <div class="col-4">
                <input #lastName="ngModel" name="lastName" [(ngModel)]="user.lastName" required minlength="2" type='text' class="form-control form-control-sm w-100" />
                <div *ngIf="lastName.dirty && lastName.touched && lastName.invalid" class="alert alert-danger">
                    Last name must be at least 2 characters.
                </div>
            </div>
        </div>
        <div class = "form-group mb-4">
            <input #email="ngModel" name="email" [(ngModel)]="user.email" required pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" type='email' class="form-control form-control-sm w-50"/>
            <div *ngIf="email.dirty && email.touched && email.invalid" class="alert alert-danger w-50">
                Must be a valid e-mail format. <i>Example: name@domain.com</i>
            </div>
        </div>

        <p>Change Password <small>(Leave these fields blank to keep existing password.)</small></p>
        <div class = "form-group">
            <input #password="ngModel" name="password" [(ngModel)]="user.password" type='password' minlength="5" placeholder="Update Password" class="form-control form-control-sm w-50" [class.is-invalid]="(password.touched && password.invalid) || passwordMismatch"/>
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger w-50">
                Password must be at least 5 characters.
            </div>
        </div>
        <div class = "form-group">
            <input #verifyPassword="ngModel" name="verifyPassword" [(ngModel)]="verify" (change)="checkVerify()" type='password' placeholder="Verify Updated Password" class="form-control form-control-sm w-50" [class.is-invalid]="passwordMismatch" />
            <div *ngIf="password.dirty && verifyPassword.dirty && passwordMismatch" class="alert alert-danger w-50">
                Passwords do not match.
            </div>
        </div>

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-success btn-sm" [disabled]="!f.form.valid || passwordMismatch">Update Account Details</button>
        </div>
    </form>
</div>