<div class="mt-5">
    <h5 class="mb-4">Edit Account Information</h5>  

    <form>
        <p>Change Name or E-mail Address</p>
        <div class="form-group">
            <div class="input-group w-50">
                <input #firstName type='text' placeholder="{{user.firstName}}" class="form-control form-control-sm w-25" />
                &nbsp;&nbsp;
                <input #lastName type='text' placeholder="{{user.lastName}}" class="form-control form-control-sm w-25" />
            </div>
        </div>
        <div class = "form-group mb-4">
            <input #email type='email' placeholder="{{user.email}}" class="form-control form-control-sm w-50"/>
        </div>
        <p>Change Password <small>(Leave these fields blank to keep existing password.)</small></p>
        <div class = "form-group">
            <input #password type='password' placeholder="Update Password" class="form-control form-control-sm w-50"/>
        </div>
        <div class = "form-group">
            <input #verifyPassword type='password' placeholder="Verify Updated Password" class="form-control form-control-sm w-50"/>
            <p *ngIf="passwordMismatch ==  true">Passwords must match!</p>

        </div>
        <div class="form-group mt-4">
            <span class="badge badge-success pointer"  (click)="updateUser(firstName.value, lastName.value, email.value, password.value, verifyPassword.value)" role="button">Update Account Details</span>
        </div>
    </form>
</div>