<div class="mt-5">
    <h5 class="mb-4">Edit Account Information</h5>  

    <form>
        <p>Change Name or E-mail Address</p>
        <div class="form-group">
            <div class="input-group w-50">
                <input #firstName="ngModel" [(ngModel)]="user.firstName" type='text' placeholder="{{user.firstName}}" class="form-control form-control-sm w-25" />
                &nbsp;&nbsp;
                <input #lastName="ngModel" [(ngModel)]="user.lastName" type='text' placeholder="{{user.lastName}}" class="form-control form-control-sm w-25" />
            </div>
        </div>
        <div class = "form-group mb-4">
            <input #email="ngModel" [(ngModel)]="user.email" type='email' placeholder="{{user.email}}" class="form-control form-control-sm w-50"/>
        </div>
        <p>Change Password <small>(Leave these fields blank to keep existing password.)</small></p>
        <div class = "form-group">
            <input #password="ngModel" [(ngModel)]="user.password" type='password' minlength="5" placeholder="Update Password" class="form-control form-control-sm w-50" [ngClass]="{ 'is-invalid': password != verifyPassword}"/>
        </div>
        <div class = "form-group">
            <input #password="ngModel" [(ngModel)]="user.password" type='password' minlength="5" placeholder="Update Password" class="form-control form-control-sm w-50" [ngClass]="{ 'is-invalid': password != verifyPassword}"/>
            <input #verifyPassword type='password' placeholder="Verify Updated Password" class="form-control form-control-sm w-50" />

        </div>
        <div [hidden]="!(password.touched && verifyPassword.touched && (password.is-invalid || verifyPassword.is-invalid))" class="alert alert-danger">
            Passwords do not match.
        </div>
        <div class="form-group mt-4">
            <span class="badge badge-success pointer"  (click)="updateUser(firstName.value, lastName.value, email.value, password.value, verifyPassword.value)" role="button">Update Account Details</span>
        </div>
    </form>
</div>