<body class="QE-bkg">

<div class="container">

    <div class="logo-spacer"></div>

    <div class="container w-100">
        <div class="row justify-content-between">

            <!--Image block-->
            <div class="container col-5">
                <!--Carousel-->
                <div class="mt-5" id="photos" class="carousel slide" data-ride="carousel" data-interval=4500>
                    <div class="carousel-inner">
                        <div class="carousel-item" [class.active]="i===0" *ngFor="let imagePath of imagePaths; let i=index">
                            <img class="d-block w-100" [src]="'/assets/examples/' + imagePaths[i]" />
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Spacer column-->
            <div class="container col-1">
            </div>

            <!--Register form block-->
            <div class="container col-6">
                <h3 class="text-info mb-5">Create an Account</h3>
                <h5 class="mb-3">Get ready for your first project!</h5>

                <form name="form" (ngSubmit)="f.form.valid && saveUser()" #f="ngForm" validate>

                    <div class="form-group">
                        <input #firstName="ngModel" name="firstName" [(ngModel)]="user.firstName" required minlength="2" type='text' placeholder="First Name" class="form-control form-control-sm w-100" />
                        <div *ngIf="firstName.dirty && firstName.touched && firstName.invalid" class="alert alert-danger w-100">
                            First name must be at least 2 characters.
                        </div>
                    </div>
                    <div class="form-group">
                        <input #lastName="ngModel" name="lastName" [(ngModel)]="user.lastName" required minlength="2" type='text' placeholder="Last Name" class="form-control form-control-sm w-100" />
                        <div *ngIf="lastName.dirty && lastName.touched && lastName.invalid" class="alert alert-danger w-100">
                            Last name must be at least 2 characters.
                        </div>
                    </div>
                    <div class = "form-group">
                        <input #email="ngModel" name="email" [(ngModel)]="user.email" required pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" type='email' placeholder="E-mail Address" class="form-control form-control-sm w-100"/>
                        <div *ngIf="email.dirty && email.touched && email.invalid" class="alert alert-danger w-100">
                            Must be a valid e-mail format. <i>Example: name@domain.com</i>
                        </div>
                    </div>
                    <div class = "form-group">
                        <input #password="ngModel" name="password" [(ngModel)]="user.password" type='password' required minlength="5" placeholder="Update Password" class="form-control form-control-sm w-100" [class.is-invalid]="(password.touched && password.invalid) || passwordMismatch"/>
                        <div *ngIf="password.touched && password.invalid" class="alert alert-danger w-100">
                            Password must be at least 5 characters.
                        </div>
                    </div>
                    <div class = "form-group">
                        <input #verifyPassword="ngModel" name="verifyPassword" [(ngModel)]="verify" (change)="checkVerify()" type='password' required placeholder="Verify Updated Password" class="form-control form-control-sm w-100" [class.is-invalid]="passwordMismatch" />
                        <div *ngIf="password.dirty && verifyPassword.dirty && passwordMismatch" class="alert alert-danger w-100">
                            Passwords do not match.
                        </div>
                    </div>
            
                    <div class="form-group mt-4 text-right">
                        <button type="submit" class="btn btn-success btn-sm" [disabled]="!f.form.valid || passwordMismatch">Get Started</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

</body>