<div class = "container">
    <br />
    <h2 class="text-info mt-5">Create an Account</h2>
    <form (ngSubmit)="saveItem(firstname, lastname, email.value, password.value)" #userForm="ngForm">
        <br />
        <h5 class="mb-3">Get ready to create your first project!</h5>
        <div class = "form-group">
            <div class="input-group">
                <input name="firstname" [(ngModel)]="firstname" type='text' placeholder="First Name" class="form-control" 
                required minlength="2" (change)="changedFirst = true;"/>
                <div *ngIf="changedFirst && (firstname == null || firstname.length < 2)" class="alert alert-danger">
                    First Name is required and must be at least 2 characters long.
                </div>
                <input name="lastname" [(ngModel)]="lastname" type='text' placeholder="Last Name" class="form-control" 
                required (change)="changedLast = true;"/>
                <div *ngIf="changedLast && (lastname == null || lastname.length < 2)" class="alert alert-danger">
                    Last Name is required and must be at least 2 characters long.
                </div>
            </div>
        </div>
        <div class = "form-group">
            <input [value]="emailSaved" (input)="emailSaved = email.value" #email ngModel name="email" type='email' placeholder="E-mail Address" class="form-control" 
            required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" (change)="changedEmail = true;"/>
            <div *ngIf="changedEmail && email.validity.typeMismatch" class="alert alert-danger">
                Email is required and must be a valid email address.
            </div>
        </div>
        <div class = "form-group">
            <input name="password" type='password' [(ngModel)]="password" placeholder="Password" class="form-control" 
            required (change)="changedPassword = true;" minlength="5"/>
            <div *ngIf="changedPassword && (password == null || password.length < 5)" class="alert alert-danger">
                Password is required and must be at least 5 characters long.
            </div>
        </div>
        <div class = "form-group">
            <input name="verifypassword" [(ngModel)]="verifyPassword" type='password' placeholder="Verify Password" 
            required minlength="5" class="form-control" (change)="changedVerifyPassword = true;"/>
            <div *ngIf="changedVerifyPassword && changedPassword && (password != verifyPassword)" class="alert alert-danger">
                Passwords do not match.
            </div>
        </div>
        <div>
            <p>Already registered? <a  class="text-info" [routerLink]="'/login'">Login here.</a></p>
        </div>

        <div class="form-group text-right">
            <button class="btn btn-info" type="submit" [routerLink] = "'/user/profile'" [disabled]="!userForm.form.valid">Get Started</button>
        </div>
    </form>
</div>